@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Commissioner';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/home/Desktop/dev/landing/fonts/Commissioner/regular.ttf') format('truetype');
}
